/* Main Body Style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2a63cc; /* Navy blue background */
    color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Header style */
header {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #f4f4f9;
}

header h1, header h2, header h3, header h4 {
    color: #ffcc00; 
    font-family: 'Roboto', sans-serif; 
}

/* List style */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
    color: #f4f4f9;
}

/* Section style */
section {
    background-color: #2a63cc; 
    border-left: 4px solid #ffcc00; 
    padding: 10px;
    margin: 10px 0;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
}

/* Link style */
a {
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    color: #f4f4f9;
    text-decoration: underline;
}

/* Footer style */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2a63cc; 
    color: #f4f4f9;
}


@media (max-width: 768px) {
    header, section, footer {
        max-width: 95%;
    }
    body {
        font-size: 0.9em;
    }
}